src/main/mule/mulecredentialsvault.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ddc069b5-ee0f-474a-b040-e0beda137004" >
		<http:listener-connection host="0.0.0.0" port="${http.listener.port}" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" >
		<db:my-sql-connection host="mudb.learn.mulesoft.com" port="3306" user="${secure::user}" password="mule" database="training" />
	</db:config>
	<configuration-properties doc:name="Configuration properties" doc:id="441e2640-ec38-494f-9412-3294456ccee0" file="env-${env}.yaml" />
	<global-property doc:name="Global Property" doc:id="27d01d6a-cd72-400a-848e-33e10d7cf5be" name="env" value="dev" />
	<global-property doc:name="Global Property" doc:id="ef5de442-d1df-4f1a-a4bf-cf836288abcb" name="mule.env" value="local" />
	<secure-properties:config name="Secure_Properties_Config" doc:name="Secure Properties Config" doc:id="fdf12217-598e-43f7-bbe5-2542f4ea95b4" file="env-${env}.properties" key="${secret.key}" >
		<secure-properties:encrypt algorithm="Blowfish"/>
	</secure-properties:config>
	<flow name="mulecredentialsvaultFlow" doc:id="b6df5c6b-89dd-4eab-a1b2-424eb3479612" >
		<http:listener doc:name="Listener" doc:id="9a5c83a0-1f7d-4c5c-ae01-c7377030a634" config-ref="HTTP_Listener_config" path="/mule"/>
		<set-variable value="12" doc:name="Set Variable" doc:id="0f6bd0c2-8de7-41e5-9cc5-2126e48ec91e" variableName="id"/>
		<db:select doc:name="Select"  config-ref="Database_Config" doc:id="1e46392f-3481-4634-b259-3e55ce87da98">
			<db:sql >SELECT * FROM	american WHERE ID = 1</db:sql>
			<db:input-parameters ><![CDATA[#[{ "id": vars.id}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="154597d6-8beb-405d-a158-10ab6e864d91" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="01f7dc8c-f5e1-4ab0-be34-1969227e096c" message="#[payload]"/>
	</flow>
</mule>
